.font-control {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    background-color: #19a59f;
    border-radius: 15px;
    padding: 1vw;
    margin-block-end: 2vh;
}

.font-control button {
    width: 100%;
}