.meme-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    background-color: #383b42;
    border-radius: 30px;
}

.meme-control * {
    max-width: 270px;
    min-width: 75px;
}

.meme-control .text-control {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    margin-block-end: 2vh;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.meme-control .text-control .text-input {
    margin-block-start: 2vh;
}

.text-input {
    grid-row: 1;
    width: 100%;
    max-width: 50px;
}

.font-line-picker {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4vw;
    grid-row: 2;
    margin-block-end: 2vh;
    border: 1px solid black;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 20px;
    padding-inline: 60%;
}

.font-line-picker input {
    translate: -50%;
}

.meme-control .text-control button {
    grid-column: 2;
}

.color-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    margin-block-end: 3vh;
    border-radius: 20px;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    width: fit-content;
    height: fit-content;
    padding-inline: 5%;
    max-width: 310px;
}

.meme-control .data-btn {
    display: flex;
    gap: 1vw;
}