.meme-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 45%;
    /* max-width: 200px; */
    background-color: #383b42;
    /* box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff; */
    border-radius: 30px;
    min-width: 300px;
}

.meme-control * {
    max-width: 250px;
    min-width: 65px;
}
