@media (max-width: 500px) {
    .image-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .saved-memes {
        /* display: grid; */
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 500px) {
    .image-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .saved-memes {
        /* display: grid; */
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .editor-components {
        /* display: flex; */
        flex-direction: column;
        /* width: 10%; */
    }
}

@media (min-width: 850px) {
    .image-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .saved-memes {
        /* display: grid; */
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .image-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .saved-memes {
        /* display: grid; */
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1500px) {
    .image-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .saved-memes {
        /* display: grid; */
        grid-template-columns: repeat(6, 1fr);
    }
}